header {
  display: flex;
  background-color: #333;
  color: #fff;
  padding: 1.2rem;
}

h1 {
  display: inline-block;
  font-size: 24px;
  margin: 0;
}

i {
  display: inline-block;
  font-size: 48px;
  margin-right: 20px;
}
form {
  display: flex;
  align-items: center;
  padding-left: 15rem;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 4px;
}
label{
  padding-right: 0.5rem;
}
img{
  padding-left: 7rem;
}

div>ul>li{
  list-style: none;
}
#collecter{
  border-color:solid black 0.2rem ;
  border-radius: 1rem;
}
#result{
  font-size: larger;
  font-weight: bold;
}